
/* Normal Font  */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* All Button Hover Styles */
button:hover {
  background-color: #372fcf; 
  cursor: pointer;
}

/* Shared Styles */

.text-color{
    color: #252432;
}

.primary-color {
    color: #4E47FF;
}

.center-text {
    text-align: center;
}

.btn-primary {
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}

.btn-title {
    display: block;
    margin-top: 10px;
    margin-bottom:90px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}



/* Nav Bar Styles  */


nav {
    background-image: url('../Assets/Hero-bg.png');
    margin: 0 ;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.nav-title {
    padding-top: 20px;
    padding-right: 50px;
} 

.nav-title ul {
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.nav-title-text {
    font-weight: 900;
    font-size: 34px;
}

nav ul li a {
    text-decoration: none;
}

.nav-title-heading {
    font-weight: 700;
    font-size: 54px;
    text-align: center;
}

/* Main Section Styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* Action Part Styles */
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.actionImage {
  background-image: url('../Assets/wc-mini.png');
  border-radius: 8px;
  height: 328px;
  width: 430px; 
}


/* User Banner  Styles*/

.ActivUsersbanner {
    margin: 0 40px;
    background-color: #dbdaef;
    border-radius: 6px;
    padding: 20px;
}

.BannerUsers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 40 0;
}

.ActivUserstitle {
    font-size: 38px;
    text-align: center;
    font-weight: bold;
}

.Total_user {
    font-family: Arial, Helvetica, sans-serif;
    color: #4E47FF;
    font-size: 52px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.UserSubtitle {
    margin: 0 40px;
    padding-top: 0;
    padding-bottom: 40px;
}.

/* User Feedback Section Styles  */
.feedback {
    margin: 0 40px;
    border-radius: 6px;
    padding: 20px;
}

.starimg {
    width: 24px;
    height: 24px;
    background-image: url('../Assets/icon-star.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 4px;
}

.Feedbackbyimg {
    width: 40px;
    height: 40px;
    background-image: url('../Assets/avatar.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 4px;
    border-radius: 50%;
}
.Feedbackby{
    display: flex;
    align-items: center;
    justify-content: left;
}


.ReviwerName {
    color: #757575;
    margin: 0;
    padding: 0;
}
.ReviewDT {
    color: #B3B3B3;
    margin: 0;
    padding: 0;
}

.feedbackcontainer {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center; 
}

.feedbackcards {
    padding: 30px ;
    box-shadow: 0px 6px 50px 0 rgba(0,0,0, 0.06);
    border-radius: 5px;
    max-width: 1100px;
}

.feedback-title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 38px;
    text-align: center;
    font-weight: bold;
}

/* Focus Section Styles */
.Focus {
    margin: 0 auto;
    padding-bottom: 40px; 
    max-width: 1080px;
    background-color: #fdefef;
    box-shadow: 0px 6px 50px 0 rgba(239, 203, 203, 0.06);
    border-radius: 5px;
}

.FocusImage {
    width: 840px;
    height: 365px; 
    background-image: url('../Assets/wc-big.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    border-radius: 30px;
}


.btn-focus {
    display: block;
    margin-top: 10px;
    margin-bottom:30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
}

.focus-title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-top: 30px;
}


/* Message Section Styles*/
.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px ;
    padding-right: 0px;
    gap: 40px;
    max-width: 1110px;
    margin: 0 30px;
}

.Left-side {
    width: 50%;
}


.message  form label {
  display: block;
  margin-top: 20px;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333333;
  text-align: left; 
}


.message input[type="text"], .message input[type="email"],  .message textarea {
    height: 30px;
    border-radius: 5px;
    background-color: #fdefef;
    color: #757575;
    display: block;
    width: 80%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none ;
    box-shadow: 0px 6px 50px 0 rgba(0,0,0, 0.06);
}


.message textarea {
    height: 60px;
    border-radius: 5px;
    background-color: #fdefef;
    color: #757575;
    display: block;
    width: 80%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border:none ;
    box-shadow: 0px 6px 50px 0 rgba(0,0,0, 0.06);
}

.message-title {
    text-align: left;
    font-size: 90px;
    font-weight: 700;
    padding-right: 80px;
}

.Message-btn {
    margin-top: 10px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 20px;
}

.Message-btn:hover {
  background-color: #372fcf; 
  cursor: pointer;
}

/* Footer Styles  */

.footer-container {
    max-width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.footernav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    margin: 0 auto;
    padding-bottom: 40px;
}

.footernav ul a {
    text-decoration: none;
}
.footer-title {
    text-align: center;
    color: #4E47FF ;
    font-size: 97px;
    font-weight: 900;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.footer-subtitle {
    text-align: center;
    color: #8987A1;
    padding-top: 0;
}

